

body {
	background: #ccc;
}

#topo {
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 1px;
	width: 960px;
	height: 200px;
	background: #858585;
	
}

#login {
	margin: 0px;
	width: 960px;
	height: 30px;
	background: #858585;
	margin-bottom: 10px;
	text-align: right;
}

#login form {
	margin-right: 10px;
	margin-top: 5px;
	font-size: 12px;
}

#login form input[type="text"]{
	width: 100px;
	height: 10px;
	font-size: 11px;
}

#login form input[type="submit"]:hover ,form input[type="button"]:hover{
	background: #ccc;
}

#login span {
    float: left;
    padding: 5px;
    color: #ff0000;
}

#menu {
	padding: 0;
	margin: 0;
	margin-bottom: 10px; 
	width: 960px;
	height: 50px;
	background: #3f4c6b;
}

#menu nav{
	margin: 0px;
	width: 960px;
	height: 50px;
}

#menu nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin: 10px;
	padding-top: 1px;
	padding-left: 30px;
}

#menu nav ul li{
	display: inline;
	padding: 10px;
	font-size: 25px;
	text-align: center;
	text-transform: uppercase; 
}

#menu nav ul li:hover {
	background: #99A2C9;
}

#menu a {
	text-decoration: none;
	color: #FFF;
}

#menu a:hover {
	color: #000;
}
#main {
}
#main_centro {
	margin: 0px;
	margin-right: 10px;
	margin-left: 10px;
        width: 640px;
	height:auto !important;
        min-height:500px;
	background: #858585;
	border-radius: 20px;

}

#txt_centro {
    margin: 20px;
    position: relative;
}

table td,th {
    padding: 5px;
    border: 1px solid #000;
    text-align: center;
}

#main_esquerdo {
        width: 150px;
	margin: 0px;
        height:auto !important;
        min-height:500px;
	background: #858585;
	border-radius: 0px 20px 20px 0px;
}

#main_direito {
        width: 150px;
	margin: 0px;
	height:auto !important;
        min-height:500px;
	background: #858585;
	border-radius: 20px 0px 0px 20px;
}

#rodape {	
	width: 960px;
	height: 100px;
	background: #858585;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 5px;

}

.msg {
    float: left;
    padding: 5px;
}
